resources/fonts/EncodeSansCondensed-SemiBold-50.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/EncodeSansCondensed-Bold-24.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/EncodeSansCondensed-SemiBold-26.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/EncodeSansCondensed-SemiBold-31.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/EncodeSansCondensed-SemiBold-19.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/EncodeSansCondensed-SemiBold-20.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/EncodeSansCondensed-SemiBold-32.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/EncodeSansCondensed-SemiBold-24.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/EncodeSansCondensed-Bold-32.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/EncodeSansCondensed-SemiBold-43.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/EncodeSansCondensed-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/EncodeSansCondensed-SemiBold-50.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/EncodeSansCondensed-Bold-38.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/EncodeSansCondensed-SemiBold-16.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/EncodeSansCondensed-Bold-42.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/EncodeSansCondensed-SemiBold-46.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/EncodeSansCondensed-Bold-32.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/EncodeSansCondensed-Bold-29.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/EncodeSansCondensed-SemiBold-40.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/EncodeSansCondensed-Bold-52.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/EncodeSansCondensed-Bold-55.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/EncodeSansCondensed-Bold-20.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/EncodeSansCondensed-SemiBold-26.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/EncodeSansCondensed-Bold-34.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/EncodeSansCondensed-SemiBold-29.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/EncodeSansCondensed-SemiBold-31.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/EncodeSansCondensed-Bold-39.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/EncodeSansCondensed-SemiBold-35.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/EncodeSansCondensed-Bold-48.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/EncodeSansCondensed-Bold-37.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/EncodeSansCondensed-Bold-23.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/EncodeSansCondensed-Bold-60.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTime1.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTime3.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTime2.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTime4.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTimeHero.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTimeCapture.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTimeHero-small.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTime5.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTime8.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTime7.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTimeHero2-small.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTime6.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/DaynightTimeHero2.png filter=lfs diff=lfs merge=lfs -text
