<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.SunColor" title="@Strings.SunColorTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SunColorOutline</listEntry>
            <listEntry value="1">@Strings.SunColorGreeting</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.GreetingTimes" title="@Strings.GreetingTimesTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.AdaptiveGreetingTimes</listEntry>
            <listEntry value="1">@Strings.FixedGreetingTimes</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MorningStartHour" title="@Strings.MorningStartHourLabel">
        <settingConfig type="numeric" min="3" max="9"/>
    </setting>

    <setting propertyKey="@Properties.EveningStartHour" title="@Strings.EveningStartHourLabel">
        <settingConfig type="numeric" min="15" max="21"/>
    </setting>

    <setting propertyKey="@Properties.NightStartHour" title="@Strings.NightStartHourLabel">
        <settingConfig type="numeric" min="18" max="24"/>
    </setting>

</settings>
