<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.SunColor" title="@Strings.SunColorTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SunColorOutline</listEntry>
            <listEntry value="1">@Strings.SunColorGreeting</listEntry>
        </settingConfig>
    </setting>
    
</settings>
